.col-ignore-padding
{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.form-inline-leftAlign
{
    justify-content: flex-start!important;
    padding-left: 0px!important;
}


.btn-action-margin
{
    margin-right: 3px!important;
    /* margin-left: 10px!important; */
    /* padding-right: 20px!important;
    padding-left: 20px!important; */
}