.additional-margin
{
    margin-bottom: 2px !important ;
}

.btn-action-margin
{
    margin-right: 3px!important;
    /* margin-left: 10px!important; */
    /* padding-right: 20px!important;
    padding-left: 20px!important; */
}